
.my-slick-prev{
  position: absolute;
  bottom: -34px;
  margin-right: 45px;
  font-size: 24px;
}

.my-slick-next{
  position: absolute;
  bottom: -34px;
  margin-left: 45px;
  font-size: 24px;
}

.list-blog{
  max-width: 288px;
  margin: auto;
  display: flex;
  justify-content: center;
  margin-top: 32px;
}

.list-item-blog{
  margin-left: 16px;
}

.title-item-blog{
  text-align: center;
  margin-top: 68px;
  margin-bottom: 24px;
}

@media  screen and (min-width:768px) {
  .my-slick-prev{
    bottom: -54px;
    margin-right: 75px;
    font-size: 34px;
  }
  .my-slick-next{
    bottom: -54px;
    margin-left: 75px;
    font-size: 34px;
  }
  .title-item-blog{
    margin-top: 87px;
    font-size: 32px;
    margin-bottom: 32px;
  }
  .subscribe-button-blog{
    font-size: 28px;
    padding: 15px 71px;
    margin-top: 32px;
  }
  .button-blog{
    margin-top: 8px;
  }
  .list-blog{
    max-width: 720px;
    margin-top: 60px;
  }
  .list-item-blog{
    margin-left: 32px;
  }
  .my-slick-prev{
    font-size: 40px;
  }
  .my-slick-next{
    font-size: 40px;
  }
}
@media screen and (min-width:1280px) {
  .my-slick-prev{
    bottom: -64px;
    margin-right: 85px;
    font-size: 41px;
  }
  .my-slick-next{
    bottom: -64px;
    margin-left: 85px;
    font-size: 41px;
  }
  .list-blog{
  max-width: 1280px;
  }
  .title-item-blog{
    margin-top: 104px;
  }
}

#Blog{
  padding-bottom: 60px;
}

@media screen and (min-width:768px) {
  #Blog{
    padding-bottom: 100px;
  }
}