<section class="section" id="About">
  <div class="conteiner">
    <h2 class="section-title">About</h2>
    <ul class="flow">
      <li class="flo">
        <p class="flowers">
          We are a minimalistic flower studio. We love people and flowers.
          Therefore, every day we give people the beauty and joy creating
          stylish and modern masterpieces. Every bouquet we create is unique as
          you are.
        </p>
      </li>
      <li>
        <picture class="flowers-img">
          <source
            srcset="
              ./img/about/img_desktop@1x.jpg 1x,
              ./img/about/img_desktop@2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/about/img_tab@1x.jpg 1x,
              ./img/about/img_tab@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/about/img_mob@1x.jpg 1x,
              ./img/about/img_mob@2x.jpg 2x
            "
            media="(min-width: 280px)"
          />
          <img
            loading="lazy"
            class="flowers-img"
            alt="flowers"
            srcset="./img/about/img_mob@2x.jpg"
            src="./img/about/img_mob@1x.jpg"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
