<section class="section" id="Blog">
  <div class="conteiner">
    <h2 class="section-title">Blog</h2>
    <div class="list-blog responsive">
      <div class="list-item-blog">
        <picture>
          <source
            media="(min-width:1280px)"
            srcset="
              ./img/blog/img1_desktop@1x.jpg 1x,
              ./img/blog/img1_desktop@2x.jpg 2x
            "
          />
          <source
            media="(min-width:768px)"
            srcset="
              ./img/blog/img1_tab@1x.jpg 1x,
              ./img/blog/img1_tab@2x.jpg 2x
            "
          />
          <source
            media="(min-width:320px)"
            srcset="
              ./img/blog/img1_mob@1x.jpg 1x,
              ./img/blog/img1_mob@2x.jpg 2x
            "
          />
          <img
            id="autoslider"
            loading="lazy"
            src="./img/blog/img1_mob@1x.jpg"
            alt="Flower"
          />
        </picture>
      </div>
      <div class="list-item-blog">
        <picture>
          <source
            media="(min-width:1280px)"
            srcset="
              ./img/blog/img2_desktop@1x.jpg 1x,
              ./img/blog/img2_desktop@2x.jpg 2x
            "
          />
          <source
            media="(min-width:768px)"
            srcset="
              ./img/blog/img2_tab@1x.jpg 1x,
              ./img/blog/img2_tab@2x.jpg 2x
            "
          />
          <source
            media="(min-width:320px)"
            srcset="
              ./img/blog/img2_mob@1x.jpg 1x,
              ./img/blog/img2_mob@2x.jpg 2x
            "
          />
          <img
            id="autoslider"
            loading="lazy"
            src="./img/blog/img2_mob@1x.jpg "
            alt="Flower"
          />
        </picture>
      </div>
      <div class="list-item-blog">
        <picture>
          <source
            media="(min-width:1280px)"
            srcset="
              ./img/blog/img3_desktop@1x.jpg 1x,
              ./img/blog/img3_desktop@2x.jpg 2x
            "
          />
          <source
            media="(min-width:768px)"
            srcset="
              ./img/blog/img3_tab@1x.jpg 1x,
              ./img/blog/img3_tab@2x.jpg 2x
            "
          />
          <source
            media="(min-width:320px)"
            srcset="
              ./img/blog/img3_mob@1x.jpg 1x,
              ./img/blog/img3_mob@2x.jpg 2x
            "
          />
          <img
            id="autoslider"
            loading="lazy"
            src="./img/blog/img3_mob@1x.jpg"
            alt="Flower"
          />
        </picture>
      </div>
      <div class="list-item-blog">
        <picture>
          <source
            media="(min-width:1280px)"
            srcset="
              ./img/blog/img4_desktop@1x.jpg 1x,
              ./img/blog/img4_desktop@2x.jpg 2x
            "
          />
          <source
            media="(min-width:768px)"
            srcset="
              ./img/blog/img4_tab@1x.jpg 1x,
              ./img/blog/img4_tab@2x.jpg 2x
            "
          />
          <source
            media="(min-width:320px)"
            srcset="
              ./img/blog/img4_mob@1x.jpg 1x,
              ./img/blog/img4_mob@2x.jpg 2x
            "
          />
          <img
            id="autoslider"
            loading="lazy"
            src="./img/blog/img4_mob@1x.jpg"
            alt="Flower"
          />
        </picture>
      </div>
      <div class="list-item-blog">
        <picture>
          <source
            media="(min-width:1280px)"
            srcset="
              ./img/blog/img5_desktop@1x.jpg 1x,
              ./img/blog/img5_desktop@2x.jpg 2x
            "
          />
          <source
            media="(min-width:768px)"
            srcset="
              ./img/blog/img5_tab@1x.jpg 1x,
              ./img/blog/img5_tab@2x.jpg 2x
            "
          />
          <source
            media="(min-width:320px)"
            srcset="
              ./img/blog/img5_mob@1x.jpg 1x,
              ./img/blog/img5_mob@2x.jpg 2x
            "
          />
          <img
            id="autoslider"
            loading="lazy"
            src="./img/blog/img5_mob@1x.jpg"
            alt="Flower"
          />
        </picture>
      </div>
      <div class="list-item-blog">
        <picture>
          <source
            media="(min-width:1280px)"
            srcset="
              ./img/blog/img6_desktop@1x.jpg 1x,
              ./img/blog/img6_desktop@2x.jpg 2x
            "
          />
          <source
            media="(min-width:768px)"
            srcset="
              ./img/blog/img6_tab@1x.jpg 1x,
              ./img/blog/img6_tab@2x.jpg 2x
            "
          />
          <source
            media="(min-width:320px)"
            srcset="
              ./img/blog/img6_mob@1x.jpg 1x,
              ./img/blog/img6_mob@2x.jpg 2x
            "
          />
          <img
            id="autoslider"
            loading="lazy"
            src="./img/blog/img6_mob@1x.jpg"
            alt="Flower"
          />
        </picture>
      </div>
    </div>

    <p class="title-item-blog">Follow to our newsletter</p>
    <button
      type="button"
      class="button button-blog js-open-modal"
      data-modal="2"
    >
      Subscribe
    </button>
  </div>
</section>
