<section class="section" id="Delivery">
  <div class="conteiner">
    <h2 class="section-title">Delivery</h2>
    <ul class="delivery-list">
      <li class="delivery-list-item">
        <p class="delivery-list-number">1</p>
        <p class="delivery-list-description">
          Choose your bouquet and make an order on website
        </p>
      </li>
      <li class="delivery-list-item">
        <p class="delivery-list-number">2</p>
        <p class="delivery-list-description">
          Wait for the call to clarify the details of the order. You can pay
          online or to the courier
        </p>
      </li>
      <li class="delivery-list-item">
        <p class="delivery-list-number">3</p>
        <p class="delivery-list-description">
          Wait for the delivery at the selected time or pick up the order from
          the store
        </p>
      </li>
      <li class="delivery-list-item">
        <p class="delivery-list-number">4</p>
        <p class="delivery-list-description">
          Make someone happy or enjoy yourself
        </p>
      </li>
    </ul>
  </div>
  <picture class="delivery-flowers-picture">
    <source
      srcset="
        ./img/delivery/img_desktop@1x.jpg 1x,
        ./img/delivery/img_desktop@2x.jpg 2x
      "
      media="(min-width: 1280px)"
      type="image/jpeg"
    />
    <source
      srcset="
        ./img/delivery/img_desktop@1x.webp 1x,
        ./img/delivery/img_desktop@1x.webp 2x
      "
      media="(min-width: 1280px)"
      type="image/webp"
    />
    <source
      srcset="
        ./img/delivery/img_tab@1x.jpg 1x,
        ./img/delivery/img_tab@2x.jpg 2x
      "
      media="(min-width: 768px)"
      type="image/jpeg"
    />
    <source
      srcset="
        ./img/delivery/img_tab@1x.webp 1x,
        ./img/delivery/img_tab@2x.webp 2x
      "
      media="(min-width: 768px)"
      type="image/webp"
    />
    <source
      srcset="
        ./img/delivery/img_mob@1x.jpg 1x,
        ./img/delivery/img_mob@2x.jpg 2x
      "
      type="image/jpeg"
    />
    <source
      srcset="
        ./img/delivery/img_mob@1x.webp 1x,
        ./img/delivery/img_mob@2x.webp 2x
      "
      type="image/webp"
    />
    <img
      loading="lazy"
      class="delivery-flowers-picture"
      src="./img/delivery/img_desktop@1x.webp"
      alt="Some beautiful flowers"
    />
  </picture>
</section>
