<section class="section" id="store">
  <div class="conteiner store-container">
    <h2 class="section-title">Store</h2>
    <div
      class="uk-child-width-1-3@m store-list"
      uk-grid
      uk-lightbox="animation: scale"
    >
      <div id="first">
        <a
          id="second"
          class="uk-inline"
          href="/img/store/img1_desktop@2x.jpg"
          data-caption="Compliments"
        >
          <picture>
            <!-- Desktop screen -->
            <source
              media="(min-width:1280px)"
              srcset="
                ./img/store/img1_desktop@1x.jpg 1x,
                ./img/store/img1_desktop@2x.jpg 2x
              "
              type="image/jpg"
            />
            <!-- Tablet screen -->
            <source
              media="(min-width:768px)"
              srcset="
                ./img/store/img1_tab@1x.jpg 1x,
                ./img/store/img1_tab@2x.jpg 2x
              "
              type="image/jpg"
            />
            <!-- Base and Mobile secreen -->
            <img
              class="item-img"
              loading="lazy"
              srcset="
                ./img/store/img1_mob@1x.jpg 1x,
                ./img/store/img1_mob@2x.jpg 2x
              "
              src="./img/store/img1_mob@1x.jpg"
              alt="Orange Flowers"
            />
          </picture>
          <h3 class="store-subtitle">compliments</h3>
          <p class="store-text">from &dollar;15</p>
        </a>
      </div>
      <div id="first">
        <a
          id="second"
          class="uk-inline"
          href="/img/store/img2_desktop@2x.jpg"
          data-caption="bouquets&nbsp;size&nbsp;S"
        >
          <picture>
            <!-- Desktop screen -->
            <source
              media="(min-width:1280px)"
              srcset="
                ./img/store/img2_desktop@1x.jpg 1x,
                ./img/store/img2_desktop@2x.jpg 2x
              "
              type="image/jpg"
            />

            <!-- Tablet screen -->
            <source
              media="(min-width:768px)"
              srcset="
                ./img/store/img2_tab@1x.jpg 1x,
                ./img/store/img2_tab@2x.jpg 2x
              "
              type="image/jpg"
            />
            <!-- Base and Mobile secreen -->
            <img
              class="item-img"
              loading="lazy"
              srcset="
                ./img/store/img2_mob@1x.jpg 1x,
                ./img/store/img2_mob@2x.jpg 2x
              "
              src="./img/store/img2_mob@1x.jpg"
              alt="Flowers in White Wrap"
            />
          </picture>
          <h3 class="store-subtitle">bouquets&nbsp;size&nbsp;S</h3>
          <p class="store-text">from &dollar;25</p>
        </a>
      </div>
      <div id="first">
        <a
          id="second"
          class="uk-inline"
          href="/img/store/img3_desktop@2x.jpg"
          data-caption="bouquets&nbsp;size&nbsp;M"
        >
          <picture>
            <!-- Desktop screen -->
            <source
              media="(min-width:1280px)"
              srcset="
                ./img/store/img3_desktop@1x.jpg 1x,
                ./img/store/img3_desktop@2x.jpg 2x
              "
              type="image/jpg"
            />

            <!-- Tablet screen -->
            <source
              media="(min-width:768px)"
              srcset="
                ./img/store/img3_tab@1x.jpg 1x,
                ./img/store/img3_tab@2x.jpg 2x
              "
              type="image/jpg"
            />
            <!-- Base and Mobile secreen -->
            <img
              class="item-img"
              loading="lazy"
              srcset="
                ./img/store/img3_mob@1x.jpg 1x,
                ./img/store/img3_mob@2x.jpg 2x
              "
              src="/img/store/img3_mob@1x.jpg"
              alt="Turquoise Flowers"
            />
          </picture>
          <h3 class="store-subtitle">bouquets&nbsp;size&nbsp;M</h3>
          <p class="store-text">from &dollar;45</p>
        </a>
      </div>
      <div id="first">
        <a
          id="second"
          class="uk-inline"
          href="/img/store/img4_desktop@2x.jpg"
          data-caption="bouquets&nbsp;size&nbsp;L"
        >
          <picture>
            <!-- Desktop screen -->
            <source
              media="(min-width:1280px)"
              srcset="
                ./img/store/img4_desktop@1x.jpg 1x,
                ./img/store/img4_desktop@2x.jpg 2x
              "
              type="image/jpg"
            />

            <!-- Tablet screen -->
            <source
              media="(min-width:768px)"
              srcset="
                ./img/store/img4_tab@1x.jpg 1x,
                ./img/store/img4_tab@2x.jpg 2x
              "
              type="image/jpg"
            />
            <!-- Base and Mobile secreen -->
            <img
              class="item-img"
              loading="lazy"
              srcset="
                ./img/store/img4_mob@1x.jpg 1x,
                ./img/store/img4_mob@2x.jpg 2x
              "
              src="./img/store/img4_mob@1x.jpg"
              alt="Beige Flowers"
            />
          </picture>
          <h3 class="store-subtitle">bouquets&nbsp;size&nbsp;L</h3>
          <p class="store-text">from &dollar;60</p>
        </a>
      </div>
    </div>
    <button class="button button-store" type="button" id="imitation">
      Order flowers
    </button>
  </div>
</section>
